.wrapper {
  padding: 15px 0;
  display: flex;
  align-items: start;
  grid-gap: 20px;
  box-sizing: border-box;
}

.sidebar {
  position: sticky;
  top: 15px;

  display: flex;
  flex-direction: column;
  align-items: start;
  grid-gap: 100px;

  min-width: 330px;
  height: calc(100vh - 70px);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--menu-background);
}

.nav {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
.nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.nav a.active {
  color: var(--secondary);
  font-weight: 500;
}

.workArea {
  min-height: 1000vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
