.resultTable {
  font-size: 20px;
}

.resultTable td,
.resultTable th {
  font-weight: 600;
}

.resultTable th:first-child,
.resultTable td:first-child {
  text-align: center;
}

.correct {
  color: var(--success);
}

.wrong {
  color: var(--danger);
}
.buttonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
