.completePage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 30px;
}

.completePage h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--primary);
}
.completePage h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--secondary);
}
.completePage p {
  font-size: 32px;
  font-weight: 500;
}
.testInfo p {
  font-size: 36px;
  font-weight: 500;
}
.testInfo h2 {
  font-size: 36px;
  font-weight: 700;
}
.saveButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.saveButtonContainer h2 {
  font-size: 32px;
  font-weight: 700;
  max-width: 500px;
}
