.title {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  margin-bottom: 50px;
}
.wrapper h2 {
  margin-bottom: 15px;
}
.metricWrapper {
  display: flex;
  grid-gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}
