.title {
  text-align: center;
  margin-bottom: 15px;
}
.section h2 {
  margin-bottom: 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}
.metricWrapper {
  display: flex;
  grid-gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.filterWrapper {
  display: flex;
  grid-gap: 15px;
}

.selectMini {
  width: 230px;
  height: auto;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 20px;
  padding-right: 40px;
}
