.skeleton {
  background-color: var(--skeleton-bg);
  background-image: linear-gradient(
    100deg,
    var(--skeleton-bg) 0%,
    var(--skeleton-shine2) 35%,
    var(--skeleton-shine) 50%,
    var(--skeleton-shine2) 65%,
    var(--skeleton-bg) 100%
  );
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: skeleton-shimmer 1.8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  border-radius: 5px;
  display: inline-block;
}

@keyframes skeleton-shimmer {
  100% {
    background-position-x: -20%;
  }
}
