.tableContainer {
  border: 1px solid var(--border-gray);
  border-radius: 15px;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  font-weight: normal;
  padding: 15px 20px;
  text-align: center;
}

.table th:first-child,
.table td:first-child {
  text-align: left;
}

.table tbody tr:nth-of-type(odd) {
  background-color: var(--table-secondary);
}
