.form {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  width: 486px;
}
.form label {
  font-size: 18px;
  align-self: flex-start;
}

.button {
  margin-top: 10px;
}

.time {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.time p {
  font-size: 24px;
  font-weight: bold;
}
