input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--auto-fill) inset !important;
  background-color: var(--auto-fill) !important;
}

.input,
.select, 
.textarea {
  width: 100%;
  height: 55px;
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid var(--border-gray);
  border-radius: 15px;
  box-sizing: border-box;
}
.textarea{
  height: 200px; 
}
.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px;
}
