.base {
  width: 100%;
  font-size: 18px;
  padding: 0.85em;
  border: none;

  cursor: pointer;
  border-radius: 0.85em;
  transition: 0.25s background-color ease;
}

a.base {
  text-align: center;
  text-decoration: none;
}

.primary {
  color: white;
  background-color: var(--primary);
  &:hover {
    background-color: var(--primary-hover);
  }
}

.danger {
  color: white;
  background-color: var(--danger);
  &:hover {
    background-color: var(--danger-hover);
  }
}

.outline {
  color: #000;
  border: 1px solid var(--border-gray);
  background-color: white;
}
.outline:hover {
  background-color: #ebebeb;
}

.s {
  width: auto;
  font-size: 14px;
  padding: 10px 18px;
}
