td.editable {
  display: flex;
  padding: 0 !important;

  & > * {
    width: 100%;
  }
}

.input[type="text"],
.select {
  text-align: center;
  font-size: 16px;
  min-height: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  appearance: none;
  cursor: pointer;
}

.input {
  height: 100%;
  border-radius: 0 !important;

  &[type="text"] {
    cursor: text;
  }

  &[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.cell {
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background-color: color-mix(in srgb, var(--table-secondary), black 5%);
  }
}
