.base {
  font-size: 14px;
  border-radius: 0.35em;
  padding: 0.7em 1.45em;
  cursor: default;
  color: #fff;
}
.primary {
  background-color: var(--primary);
}
.secondary {
  background-color: var(--secondary);
}
