.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.branchWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table {
  font-size: 20px;
  th,
  td {
    border: 1px solid var(--border-gray);
  }
}

.rotate {
  writing-mode: sideways-lr;
  max-height: 250px;
}

.controls {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.signatures {
  display: none;
}

.signatureItem {
  display: flex;
  justify-content: space-between;
}

.signaturePlace {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  text-wrap: no-wrap;
  text-align: end;

  &::before {
    margin-right: 10px;
    content: "";
    height: 1px;
    width: 120px;
    background-color: black;
  }
}

.signatureGrid {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
}

@media print {
  @page {
    size: A4 landscape;
    margin: 5mm;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .controls {
    display: none;
  }

  .signatures {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
  .table {
    font-size: 8px;
    border: none;
    border-radius: 0;

    table {
      width: 100%;
    }

    th,
    td {
      border: 1px solid black;
      padding: 6px;
    }

    th:is(:not(.printNotRotate)) {
      writing-mode: sideways-lr;
      max-height: 250px;
    }
  }
}
