.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 75px;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.branchWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table {
  font-size: 20px;
  th,
  td {
    border: 1px solid var(--border-gray);
  }
}

.rotate {
  writing-mode: sideways-lr;
  max-height: 250px;
}

.controls {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.signatures {
  display: none;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 5mm;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .controls {
    display: none;
  }

  .title {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
  .table {
    font-size: 7px;
    border: none;
    border-radius: 0;

    table {
      width: 100%;
    }

    th,
    td {
      border: 1px solid black;
      padding: 6px;
    }

    th:is(:not(.printNotRotate)) {
      writing-mode: sideways-lr;
      max-height: 150px;
    }
  }

  .chemPrint {
    th {
      max-height: 100px;
    }
    .signatures {
      font-size: 7px;
    }
  }

  .signatures {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    font-size: 8px;
    text-wrap: nowrap;
  }

  .signatureSubgrid,
  .centerSign {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }

  .centerSign .signaturePlace {
    grid-column: 3;
  }

  .signaturePlace {
    display: flex;
    align-items: end;
    gap: 8px;

    &::before {
      content: "";
      height: 1px;
      width: 80px;
      background-color: black;
    }
  }
}
