.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-gap: 10px;
}

.title p {
  font-size: 24px;
}

.waveMask {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
