.centerContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.linkCell {
  position: relative;
}
.linkCell a {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: inherit;

  position: absolute;
  inset: 0;

  padding: 15px 20px;
  transition: 0.25s color ease;
}
.linkCell:hover a {
  color: var(--primary);
}
