.testPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.head {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 50px;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.timer img {
  width: 45px;
}
.timer p {
  font-size: 20px;
  color: var(--primary);
  font-weight: 500;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 80%;
  padding: 30px;
  background-color: #ffffffae;
  border: 1px solid #00000010;
  backdrop-filter: blur(15px);
  color: #000;

  border-radius: 10px;
}
.form h1 {
  font-size: 24px;
}
.testImage {
  width: 100%;
  max-width: 725px;
  max-height: 345px;
  object-fit: cover;
  object-position: center;
  align-self: center;
  border-radius: 10px;
}
.stripe {
  width: 100%;
  height: 2px;
  background-color: #00000010;
}

label {
  font-size: 16px;
  cursor: pointer;
}
.radio {
  display: flex;
  gap: 10px;
  padding: 7px;
  border-radius: 10px;
}
input[type="radio"] {
  transform: scale(1.5);
  cursor: pointer;
}
.radio:has(input:checked) {
  background-color: #00000010;
}
.time {
  display: flex;
  gap: 10px;
}
.time p {
  font-size: 18px;
  font-weight: 600;
}
.active {
  color: var(--primary);
}

progress {
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: var(--border-gray);
}

progress::-webkit-progress-bar {
  background-color: var(--border-gray);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: var(--danger);
  border-radius: 10px;
}
progress::-moz-progress-bar {
  background-color: var(--danger);
  border-radius: 10px;
}
.progressBar {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.wave {
  position: absolute;
  top: 200px;
  width: 100%;
  z-index: -1;
}
